body{
  background-color: #393E46;
}

/******************************* Barra navegación *****************************/
nav{
  background-color: #393E46;
  font-family: 'Ubuntu';
}

.nav-link{
  color: #D8D8D8;
  font-weight: bolder;
}

.navbar-brand{
  color: #D8D8D8;
  font-weight: bolder;
}

/*********************************** Imagenes evidencia ***********************************/
img{
  height: 160px;
  width: 250px;
}

/*********************************** Tabla ************************************/
table{
  border-color:#D8D8D8;
  border-style: dashed;
  margin: 0 auto;
  width: 90%;
}

th{
  text-align: center;
  font-weight: bolder;
  font-family: 'Ubuntu';
  border-bottom: dashed;
  border-left: dashed;
}

td{
  text-align:center;
  font-family: 'Ubuntu';
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid;
}

.total{
  padding-top: 10px;
  text-align: right;
  box-shadow: 5px 10px #2C3639;
  width: 90%;
  font-weight: bolder;
  font-family: 'Ubuntu';
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-color: #D8D8D8;
  color: #D8D8D8;
}

.fuente{
  color: #D8D8D8;
  text-align: center;
  padding-top: 20px;
}
/**************************** Index ******************************************/

.checkout{
    padding-top: 150px;
    color: #D8D8D8;
    text-align: center;
}

.imagen-checkout{
  height: 50%;
  width: 80%;
}

.titulo{
  color: #D8D8D8;
  text-align: center;
  font-family: 'Ubuntu';
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 150%;
}

.imagen-amazon{
  width: 10%;
  border-radius: 25px;
  box-shadow: 5px 10px #2C3639;
}

.contenido1{
  color: #D8D8D8;
  font-family: 'Ubuntu';
}

/***************************** Sobre Autores **********************************/
.titulo-autores{
  text-align: center;
  color: #D8D8D8;
  padding-top: 60px;
  font-family: 'Ubuntu';
  font-weight: bolder;
}

.card{
  box-shadow: 5px 10px #2C3639;
  width: 100%;
}

.imagen-perfil{
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.card-title{
  color: #191A19;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.container{
  padding-top: 100px;
}

.card-body{
  background-color: #D8D8D8;
}

/***************************** footer *****************************************/
footer{
  background-color: #393E46;
  text-align: center;
  font-size: 15px;
  padding-top: 200px;
}

/* Codigo por Josue Danilo Pineda R.
Miembro Grupo #6 - Taller de Hardware I*/
